@page "/"

<PageTitle>ReSale | Home</PageTitle>

<div class="flex flex-col md:flex-row">
    <div class="md:w-[500px] w-full">
        <div class="bg-darker-gray rounded-t">
            <h1 class="text-4xl p-4">Customers</h1>
            <button class="flex justify-between bg-table-gray hover:bg-green-primary p-4 w-full text-left rounded-b">
                <p>Create Customer</p>
                <i class="fas fa-arrow-right mt-1"></i>
            </button>
        </div>

        <div class="bg-darker-gray rounded-t mt-4">
            <h1 class="text-4xl p-4">Items</h1>
            <button class="flex justify-between bg-table-gray hover:bg-green-primary p-4 w-full text-left">
                <p>Create Product</p>
                <i class="fas fa-arrow-right mt-1"></i>
            </button>

            <button class="flex justify-between bg-table-gray hover:bg-green-primary p-4 w-full text-left rounded-b">
                <p>Create Supplier</p>
                <i class="fas fa-arrow-right mt-1"></i>
            </button>
        </div>

        <div class="bg-darker-gray rounded-t mt-4">
            <h1 class="text-4xl p-4">Sales</h1>
            <button class="flex justify-between bg-table-gray hover:bg-green-primary p-4 w-full text-left">
                <p>Create Order</p>
                <i class="fas fa-arrow-right mt-1"></i>
            </button>

            <button class="flex justify-between bg-table-gray hover:bg-green-primary p-4 w-full text-left rounded-b">
                <p>Create Purchase Order</p>
                <i class="fas fa-arrow-right mt-1"></i>
            </button>
        </div>
    </div>
    
    <div class="w-full md:ml-4 mt-4 md:mt-0 bg-darker-gray rounded">
        <div class="p-4">
            <div class="flex items-center justify-center">
                
            </div>
        </div>
    </div>
</div>