@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: '"JetBrains Mono"';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
    }
}

@layer base {
    html {
        font-family: 'JetBrains Mono', Roboto, monospace;
    }
}