@inherits LayoutComponentBase

<div class="h-screen bg-background-primary-light dark:bg-background-primary-dark text-text-primary-light dark:text-text-primary-dark">
    <div class="h-[50px] w-full shadow-sm flex justify-between">
        <button 
            class="text-text-primary-light dark:text-text-primary-dark hover:bg-blue-primary hover:text-text-primary-dark w-[50px] h-[50px] transition-colors duration-300 ease-in-out focus:outline-none" 
            @onclick="ToggleMenu"
            aria-label="Toggle Menu">
            <i class="fas fa-bars text-lg"></i>
        </button>
        <NavbarLayout/>
    </div>
    <div class="flex h-screen-50">
        @if (_isMenuOpen)
        {
            <div class="w-[250px] bg-background-primary-light dark:bg-background-primary-dark shadow-right hidden md:block">
                <SidebarLayout/>
            </div>
        }
        else
        {
            <div class="w-[50px] bg-background-primary-light dark:bg-background-primary-dark shadow-right hidden md:block">
                <SidebarButtonsLayout/>
            </div>
        }
        <div class="w-full">
            @Body
        </div>
    </div>
</div>

@code {
    bool _isMenuOpen;

    void ToggleMenu()
    {
        _isMenuOpen = !_isMenuOpen;
    }
}